$govuk-assets-path: "/identify-your-overseas-business/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/identify-your-overseas-business/assets/lib/hmrc-frontend/hmrc/";

$govuk-assets-path: "/identify-your-trust/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/identify-your-trust/assets/lib/hmrc-frontend/hmrc/";

$govuk-assets-path: "/identify-your-unincorporated-association/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/identify-your-unincorporated-association/assets/lib/hmrc-frontend/hmrc/";
